@import 
url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

.body{
    margin: 0px;
    padding: 0px;

}

.h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

.p{
    margin: 0px;
    padding: 0px;
}

.ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.content{
    flex: 1 1 auto;
}

.container{
    max-width: 1219 px;
    margin: 0 auto;
}

.decoration{
    position: relative;
    top: 0px;
    left: 0px;
}
#elem1{
    position: absolute;
    top: 220px;
    left: 25%;
}

#elem2{
    position: absolute;
    top: 494px;
    left: 2.5%;
}

#elem3{
    position: absolute;
    top: 783px;
    left: 40%;
}