.h1__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 286px;
}
.h2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.h2__img{
    max-width: 659px;
    max-height: 534px;
}
.h2__img img {
   object-fit: scale-down;
}

.h2__right h2{
    max-width: 481px;
    max-height: 100px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

}
.h2__right p{
    max-width: 450px;
    max-height: 120px;
    margin-top: 20px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #7D7987;
}

.h2__right button{

    width: 164px;
    height: 42px;
    margin-top: 33px;
    
    border: 2px;
    border-radius: 7px;
    background-color:#FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    align-items: center;

    color: #FFFFFF;
}
