.h1_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 286px;
}

.h2{
    /* Тут надо указать как width: 100%; для того чтоб дать flex-у ширину */
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2_img{
    max-width: 659px;
    max-height: 534px;
    /* Тут не надо дублировать верхний отступ, получится как удвоенный отступ */
    /* margin-top: 286px; */
}
.h2_img img {
   object-fit: scale-down;
}

.h2_right h2{
    max-width: 481px;
    max-height: 100px;
    /* margin-top: 382px; */
    /* margin-left: 102px; */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

}
.h2_right p{
    max-width: 450px;
    max-height: 120px;
    top: 257px;
    /* margin-left: 102px; */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #7D7987;
}

.h2_right button{

    width: 164px;
    height: 42px;
    top: 416px;
    /* margin-left: 102px; */
    border: 2px;
    border-radius: 7px;
    background-color:#FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    align-items: center;

    color: #FFFFFF;
}
